/* CSS LAYOUT */
/* **************************************************************** */

body {
    background-image: url(..img/mallorca.jpg);
}

header,main{
    display:grid;
    grid-template-columns: 1fr 
    1000px 20px;
    gap: 20px;
}

header .logo {
    grid-column: 2/3;
}

header .menu {
    grid-column: 3/4;
}

