/* CSS LAYOUT */
/* **************************************************************** */

body {
    background-image: url(../img/mallorca.jpg);
    height: 100vh;
}

header,main, footer{
    display:grid;
    grid-template-columns: 1fr 1000px 20px;
    gap: 20px;
}

header .logo, section.texto {
    grid-column: 2/3;
}

section.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .menu, section.redes {
    grid-column: 3/4;
}

